$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//basic colors
$denim: #3b517a;
$faded-blue: #7a92c6;
$deep-rose: #c3526d;
$medium-pink: #ed6990;
$very-light-pink: #fffcfa;
$grey-blue: #f2f6f7;
$greyish-brown: #3c3c3c;
$light-grey: #f2f2f2;


//basic fonts
