body {
  font-size: 16px;
  line-height: 1; }

.container-main {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.section-slider .slide {
  height: 442px; }
.section-slider .slide1 {
  background-image: linear-gradient(104deg, #f9eff7, #e4f4f3);
  position: relative; }
  .section-slider .slide1:after {
    content: '';
    height: 100%;
    width: 298px;
    position: absolute;
    right: 21%;
    background: url(../images/slide-bg.png) no-repeat center bottom;
    background-size: contain; }
  .section-slider .slide1 .text-container {
    position: absolute;
    text-align: center;
    height: 83%;
    background-color: #f2f6f7;
    margin-top: 66px;
    width: 33%;
    bottom: 0;
    left: 8%; }
    .section-slider .slide1 .text-container:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 22%;
      background: url(../images/waves.svg) center top;
      background-size: cover; }
    .section-slider .slide1 .text-container .text-wrapper {
      text-align: left;
      display: inline-block;
      padding-top: 17px; }
      .section-slider .slide1 .text-container .text-wrapper > * {
        display: block; }
      .section-slider .slide1 .text-container .text-wrapper .text-head {
        font-family: AvenirNextMedium;
        text-transform: uppercase;
        font-size: 36px; }
      .section-slider .slide1 .text-container .text-wrapper .text-percent {
        font-family: AvenirNextMedium;
        font-size: 114px;
        margin-left: -45px;
        color: #7a92c6; }
      .section-slider .slide1 .text-container .text-wrapper a {
        font-family: AvenirNextRegular;
        margin-top: 10px;
        font-size: 22px;
        text-align: center;
        display: inline-block;
        width: 220px;
        line-height: 47px;
        border: 1px solid black;
        border-radius: 3px;
        color: #000;
        text-transform: uppercase;
        text-decoration: none; }
        .section-slider .slide1 .text-container .text-wrapper a:hover, .section-slider .slide1 .text-container .text-wrapper a:active, .section-slider .slide1 .text-container .text-wrapper a:focus {
          text-decoration: none; }
.section-slider.owl-carousel .owl-controls {
  position: absolute;
  width: 100%; }
  .section-slider.owl-carousel .owl-controls .owl-dots {
    text-align: center;
    padding: 5px 0; }
    .section-slider.owl-carousel .owl-controls .owl-dots .owl-dot {
      display: inline-block;
      margin-right: 10px; }
      .section-slider.owl-carousel .owl-controls .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
        border: 1px solid #9b9b9b;
        display: inline-block;
        border-radius: 10em; }
      .section-slider.owl-carousel .owl-controls .owl-dots .owl-dot.active span {
        background-color: #9b9b9b; }
      .section-slider.owl-carousel .owl-controls .owl-dots .owl-dot:last-child {
        margin-right: 0; }

.section-main {
  font-size: 0;
  padding-top: 65px;
  margin-bottom: 70px; }
  .section-main .section-category {
    width: 75%;
    font-size: 0;
    display: inline-block;
    vertical-align: top; }
    .section-main .section-category .section-category-item {
      cursor: pointer;
      box-sizing: border-box;
      padding: 0 .8%;
      display: inline-block;
      width: 33.3%;
      height: 272px;
      margin-bottom: 30px; }
      .section-main .section-category .section-category-item .wrap-bg {
        height: 100%;
        background-position: center;
        background-size: auto 100%;
        position: relative; }
        .section-main .section-category .section-category-item .wrap-bg .text {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          color: #ffffff;
          text-align: center;
          line-height: 55px;
          font-size: 24px;
          font-family: AvenirNextRegular;
          text-transform: uppercase; }
          .section-main .section-category .section-category-item .wrap-bg .text:after {
            content: '';
            position: absolute;
            top: -4px;
            left: 0;
            width: 100%;
            height: 22px;
            background: url("../images/white-wave.svg") repeat-x center top; }
      .section-main .section-category .section-category-item:first-child, .section-main .section-category .section-category-item:nth-child(4) {
        margin-left: -.8%; }
      .section-main .section-category .section-category-item.boys .wrap-bg {
        background-image: url(../images/section-main-boys.png); }
      .section-main .section-category .section-category-item.girls .wrap-bg {
        background-image: url(../images/section-main-girls.png); }
      .section-main .section-category .section-category-item.baby .wrap-bg {
        background-image: url(../images/section-main-kids.png); }
      .section-main .section-category .section-category-item.age0-1 .wrap-bg {
        background-image: url(../images/section-main-baby.png); }
      .section-main .section-category .section-category-item.age2-6 .wrap-bg {
        background-image: url(../images/section-main-age2-6.png); }
      .section-main .section-category .section-category-item.age7-16 .wrap-bg {
        background-image: url(../images/section-main-age7-16.png); }
    .section-main .section-category .mobile-category-items {
      display: none;
      padding: 16px 0;
      text-align: center; }
      .section-main .section-category .mobile-category-items div {
        font-size: 24px;
        font-family: a_AvanteLtDemiBold;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 16px; }
      .section-main .section-category .mobile-category-items a {
        display: inline-block;
        width: 30%;
        line-height: 43px;
        border-radius: 3px;
        border: 1px solid #000000;
        font-family: AvenirNextRegular;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: #000000;
        margin-right: 1%;
        text-align: center; }
        .section-main .section-category .mobile-category-items a:hover, .section-main .section-category .mobile-category-items a:active, .section-main .section-category .mobile-category-items a:focus {
          text-decoration: none; }
        .section-main .section-category .mobile-category-items a:last-child {
          margin-right: 0; }
  .section-main .section-delivery-payment-info {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    height: 574px;
    border: 1px solid #f2f2f2;
    vertical-align: top; }
    .section-main .section-delivery-payment-info .delivery-payment-info-container .info-item-container {
      padding-top: 55px; }
      .section-main .section-delivery-payment-info .delivery-payment-info-container .info-item-container .info-item {
        font-size: 0;
        margin-bottom: 70px; }
        .section-main .section-delivery-payment-info .delivery-payment-info-container .info-item-container .info-item .img-wrap {
          display: inline-block;
          width: 28%;
          text-align: center;
          vertical-align: middle; }
          .section-main .section-delivery-payment-info .delivery-payment-info-container .info-item-container .info-item .img-wrap img {
            width: 50px;
            height: auto; }
        .section-main .section-delivery-payment-info .delivery-payment-info-container .info-item-container .info-item .text {
          vertical-align: middle;
          width: 72%;
          display: inline-block;
          font-size: 22px;
          font-family: AvenirNextRegular;
          line-height: 23px; }
        .section-main .section-delivery-payment-info .delivery-payment-info-container .info-item-container .info-item:last-child {
          margin-bottom: 60px; }
    .section-main .section-delivery-payment-info .learn-more {
      background-color: #fafafa; }
      .section-main .section-delivery-payment-info .learn-more a {
        background: url(../images/gray-wave.svg) repeat-x center top;
        display: inline-block;
        width: 100%;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
        font-family: AvenirNextRegular;
        text-decoration: none;
        line-height: 64px;
        text-align: center;
        color: #3c3c3c; }
        .section-main .section-delivery-payment-info .learn-more a:hover, .section-main .section-delivery-payment-info .learn-more a:active, .section-main .section-delivery-payment-info .learn-more a:focus {
          text-decoration: none; }

.section-banners {
  font-size: 0;
  margin-bottom: 70px; }
  .section-banners .items {
    display: inline-block;
    height: 510px;
    box-sizing: border-box;
    margin-bottom: 35px; }
    .section-banners .items:nth-child(odd) {
      width: 65.8%;
      margin-right: 1.6%; }
    .section-banners .items:nth-child(even) {
      width: 32.5%; }
    .section-banners .items.banner1 {
      background: url(../images/banner-burberry.png) no-repeat center top;
      background-size: cover; }
    .section-banners .items.banner2 {
      background: url(../images/banner-monalisa.png) no-repeat center top;
      background-size: cover; }
    .section-banners .items.banner3 {
      background: url(../images/banner-autumn-winter.png) no-repeat center top;
      background-size: cover; }
  .section-banners .instagram-gallery {
    border: 1px solid #f2f2f2;
    vertical-align: top;
    text-align: center; }
    .section-banners .instagram-gallery .text {
      max-width: 550px;
      display: inline-block; }
    .section-banners .instagram-gallery .head-text {
      font-size: 32px;
      text-align: center;
      font-family: a_AvanteLtDemiBold;
      margin-top: 20px; }
    .section-banners .instagram-gallery .underhead-text {
      font-size: 15px;
      letter-spacing: 1px;
      font-family: AvenirNextRegular;
      text-align: center;
      margin-top: 20px; }
    .section-banners .instagram-gallery span {
      color: #7a92c6; }
    .section-banners .instagram-gallery .photo-container {
      margin-top: 20px; }
      .section-banners .instagram-gallery .photo-container .img-wrap {
        display: inline-block;
        width: 48%;
        margin: 0 1%; }
        .section-banners .instagram-gallery .photo-container .img-wrap img {
          width: 100%;
          height: auto; }
    .section-banners .instagram-gallery .btn-container {
      padding: 25px 3%;
      font-size: 0; }
      .section-banners .instagram-gallery .btn-container a {
        box-sizing: border-box;
        display: inline-block;
        line-height: 34px;
        font-size: 16px;
        font-family: AvenirNextRegular;
        text-align: center;
        border: 1px solid #000000;
        border-radius: 3px;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
        width: 49%; }
        .section-banners .instagram-gallery .btn-container a:hover, .section-banners .instagram-gallery .btn-container a:active, .section-banners .instagram-gallery .btn-container a:focus {
          text-decoration: none;
          background-color: #f5f5f5; }
        .section-banners .instagram-gallery .btn-container a.desktop:first-child {
          margin-right: 2%; }
        .section-banners .instagram-gallery .btn-container a.mobile {
          display: none; }

.goods-container {
  font-size: 0;
  position: relative;
  margin-bottom: 100px; }
  .goods-container .goods-item {
    width: 15.3%;
    display: inline-block;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    text-align: center;
    vertical-align: bottom;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
    margin-right: 1.64%; }
    .goods-container .goods-item .text {
      text-transform: uppercase;
      line-height: 20px; }
    .goods-container .goods-item .brand-info {
      font-family: AvenirNextMedium;
      font-size: 18px; }
    .goods-container .goods-item .item-info {
      color: gray;
      font-size: 14px;
      font-family: AvenirNextRegular; }
    .goods-container .goods-item .price-info {
      font-family: AvenirNextMedium;
      font-size: 16px;
      margin-top: 2px; }
    .goods-container .goods-item .img-wrapper {
      width: 85%;
      margin: 0 auto;
      position: relative; }
      .goods-container .goods-item .img-wrapper img {
        width: 100%; }
        .goods-container .goods-item .img-wrapper img.second {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0; }
    .goods-container .goods-item:last-child {
      margin-right: 0; }
    .goods-container .goods-item:hover .img-wrapper img.second {
      opacity: 1; }
  .goods-container:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: #f5f5f5;
    z-index: -1; }

.news {
  font-size: 0;
  margin-bottom: 100px; }
  .news .news-item {
    display: inline-block;
    box-sizing: border-box;
    width: 23.8%;
    margin-right: 1.6%;
    border: 1px solid #f5f5f5;
    color: #000000;
    text-decoration: none;
    vertical-align: top; }
    .news .news-item .img-wrap img {
      width: 100%; }
    .news .news-item .uptext {
      font-family: AvenirNextRegular;
      text-transform: uppercase;
      font-size: 16px;
      text-align: center;
      line-height: 34px; }
    .news .news-item .text-container {
      padding: 25px 20px;
      background: url(../images/gray-wave.svg) repeat-x center 2%;
      position: relative; }
      .news .news-item .text-container:after {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 10px;
        right: 15px;
        width: 18px;
        height: 11.2px;
        background: url(../images/more-news.svg) no-repeat; }
    .news .news-item .head-text {
      text-transform: uppercase;
      font-size: 30px;
      font-family: a_AvanteLtDemiBold;
      margin-bottom: 10px; }
    .news .news-item .main-text {
      font-size: 15px;
      line-height: 20px;
      font-family: AvenirNextRegular;
      color: #3c3c3c; }
    .news .news-item:last-child {
      margin-right: 0; }

.subscribe {
  background: url("../images/gray-wave.svg") repeat-x center top;
  position: relative;
  text-align: center; }
  .subscribe:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/gray-wave.svg") repeat-x center bottom;
    z-index: -1; }
  .subscribe .subscribe-container {
    display: inline-block;
    width: 1172px;
    padding: 60px 0;
    box-sizing: border-box; }
    .subscribe .subscribe-container:after {
      content: "";
      display: table;
      clear: both; }
    .subscribe .subscribe-container .text-block {
      float: left;
      box-sizing: border-box;
      width: 630px;
      padding-left: 120px;
      text-align: left;
      background: url("../images/subscribe.svg") no-repeat center left; }
      .subscribe .subscribe-container .text-block .head-text {
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
        font-family: AvenirNextRegular; }
      .subscribe .subscribe-container .text-block .main-text {
        font-size: 15px;
        font-family: AvenirNextRegular;
        line-height: 20px; }
    .subscribe .subscribe-container form {
      float: right;
      margin-top: 30px; }
      .subscribe .subscribe-container form input {
        border-radius: 3px;
        width: 196px;
        padding: 0;
        line-height: 34px;
        font-size: 16px;
        font-family: AvenirNextRegular;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid black;
        background-color: #ffffff; }
      .subscribe .subscribe-container form input[type="email"] {
        border-color: #e2e2e2;
        margin-right: 19px; }
        .subscribe .subscribe-container form input[type="email"]:focus {
          outline: none; }
      .subscribe .subscribe-container form input[type="submit"] {
        cursor: pointer;
        transition: background-color ease .3s; }
        .subscribe .subscribe-container form input[type="submit"]:hover {
          background-color: #f5f5f5; }

.designers {
  padding: 100px 0;
  text-align: center; }
  .designers .top {
    height: 260px;
    position: relative; }
    .designers .top:before, .designers .top:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      top: 76px;
      background-color: #f5f5f5; }
    .designers .top:after {
      top: auto;
      bottom: 0; }
  .designers .bottom-text {
    text-align: left;
    font-size: 15px;
    font-family: AvenirNextRegular;
    line-height: 18px; }
  .designers .designers-wrapper {
    width: 83.3%;
    display: inline-block; }
  .designers .head-text {
    font-size: 30px;
    font-family: a_AvanteLtDemiBold;
    text-align: center;
    line-height: 35px;
    text-transform: uppercase; }
  .designers .tabs-container {
    position: relative;
    margin-top: 5px; }
    .designers .tabs-container .tabs {
      font-size: 0; }
      .designers .tabs-container .tabs .tab {
        display: inline-block;
        width: 18.4%;
        border: 1px solid #f5f5f5;
        border-bottom: none;
        box-sizing: border-box;
        margin-right: 2%;
        transition: border ease .2s; }
        .designers .tabs-container .tabs .tab .tab-content {
          display: none;
          position: absolute;
          width: 100%;
          padding-top: 15px;
          left: 0; }
          .designers .tabs-container .tabs .tab .tab-content ul {
            display: inline-block;
            width: 18.4%;
            margin-right: 2%;
            vertical-align: top; }
            .designers .tabs-container .tabs .tab .tab-content ul li {
              text-align: left; }
              .designers .tabs-container .tabs .tab .tab-content ul li a {
                display: inline-block;
                font-size: 15px;
                text-align: left;
                font-family: AvenirNextRegular;
                color: #3c3c3c;
                line-height: 20px;
                text-decoration: none;
                transition: background-color ease .1s, color ease .1s; }
                .designers .tabs-container .tabs .tab .tab-content ul li a:hover, .designers .tabs-container .tabs .tab .tab-content ul li a:active, .designers .tabs-container .tabs .tab .tab-content ul li a:focus {
                  text-decoration: none;
                  background-color: #000000;
                  color: #ffffff; }
            .designers .tabs-container .tabs .tab .tab-content ul:last-child {
              margin-right: 0; }
          .designers .tabs-container .tabs .tab .tab-content.tablet ul {
            display: none; }
        .designers .tabs-container .tabs .tab .head {
          font-size: 18px;
          line-height: 35px;
          cursor: pointer; }
        .designers .tabs-container .tabs .tab.active {
          border-color: #000000; }
          .designers .tabs-container .tabs .tab.active .tab-content {
            display: block; }
        .designers .tabs-container .tabs .tab:last-child {
          margin-right: 0; }

footer {
  background: url(../images/gray-wave.svg) repeat-x center top;
  font-size: 0;
  padding: 43px 7.5% 30px;
  position: relative; }
  footer .up-arrow {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    top: -80px;
    right: 5px;
    background-color: #e2e2e2;
    background-image: url(../images/up-arrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-color ease .5s; }
    footer .up-arrow:hover {
      background-color: #c3c3c3; }
  footer > div {
    display: inline-block;
    width: calc(100% / 3);
    vertical-align: top;
    position: relative;
    height: 100%; }
  footer .width-wrap {
    width: 260px;
    padding: 0 10px;
    margin: 0 auto;
    min-height: 100px; }
  footer .left .width-wrap {
    margin: 0; }
  footer .left .head-text {
    font-family: a_AvanteLtDemiBold;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 10px; }
  footer .left .text {
    font-family: AvenirNextRegular;
    font-size: 14px;
    line-height: 20px; }
  footer .left .tel {
    font-family: a_AvanteBsExtraBold;
    font-size: 28px;
    margin: 15px 0 5px; }
  footer .left .work-time {
    font-size: 15px;
    color: #7a92c6;
    font-family: a_AvanteTitlerCpsUpCLight;
    text-transform: uppercase; }
  footer .center a {
    font-family: AvenirNextRegular;
    font-size: 16px;
    line-height: 2;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: #000; }
  footer .center .bottom .text {
    font-family: a_AvanteLtDemiBold;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 25px; }
  footer .center .bottom .img-wrap {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle; }
    footer .center .bottom .img-wrap img {
      width: 100%; }
    footer .center .bottom .img-wrap.visa {
      width: 50px; }
    footer .center .bottom .img-wrap.mastercard, footer .center .bottom .img-wrap.maestro {
      width: 40px; }
    footer .center .bottom .img-wrap.pci {
      width: 60px;
      margin-right: 0; }
  footer .left:after,
  footer .center:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 70%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #e2e2e2; }
  footer .right .width-wrap {
    margin: 0;
    float: right; }
  footer .right .social {
    text-align: center; }
    footer .right .social .text {
      font-family: a_AvanteLtDemiBold;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      line-height: 35px; }
    footer .right .social .img-wrap {
      display: inline-block;
      width: 40px;
      margin-right: 10px; }
      footer .right .social .img-wrap img {
        width: 100%; }
      footer .right .social .img-wrap:last-child {
        margin-right: 0; }
  footer .right .logo .logo-wrap {
    width: 90%;
    margin: 60px auto 15px; }
    footer .right .logo .logo-wrap img {
      width: 100%; }
  footer .right .logo .copyright {
    text-align: center;
    font-family: a_AvanteLtDemiBold;
    font-size: 12px;
    letter-spacing: 0.7px;
    text-transform: uppercase; }

.catalog {
  font-size: 0; }
  .catalog .bread-crumbs {
    padding: 25px 8.3%; }
    .catalog .bread-crumbs li {
      display: inline-block;
      font-size: 14px;
      font-family: AvenirNextRegular;
      padding: 0 1px; }
      .catalog .bread-crumbs li a {
        color: #3c3c3c;
        text-decoration: none; }
        .catalog .bread-crumbs li a:hover, .catalog .bread-crumbs li a:active, .catalog .bread-crumbs li a:focus {
          text-decoration: none; }
  .catalog .filters, .catalog .main-content {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top; }
  .catalog .filters {
    width: 16.6%;
    margin-right: 1.6%; }
    .catalog .filters .filter .head-text {
      position: relative; }
      .catalog .filters .filter .head-text:after {
        content: '';
        position: absolute;
        right: 5%;
        top: -10px;
        background: url(../images/mobile-designers-arrow.png) no-repeat center;
        background-size: 100%;
        transition: transform ease .3s;
        width: 30px;
        height: 30px; }
    .catalog .filters .filter ul, .catalog .filters .filter form {
      max-height: 255px;
      transition: max-height ease .3s;
      overflow: hidden; }
    .catalog .filters .filter.hidden .head-text:after {
      transform: rotate(180deg); }
    .catalog .filters .filter.hidden ul, .catalog .filters .filter.hidden form {
      max-height: 0; }
    .catalog .filters .filter.hidden .show-more {
      line-height: 0; }
    .catalog .filters .checked-filters .head-text {
      font-family: AvenirNextMedium; }
    .catalog .filters .checked-filters .clear-text {
      font-family: AvenirNextRegular;
      font-size: 14px;
      color: #9b9b9b;
      text-transform: lowercase;
      margin-bottom: 10px;
      display: block;
      padding-left: 9%; }
    .catalog .filters .checked-filters .submit {
      line-height: 34px;
      border: 1px solid #000000;
      border-radius: 3px;
      font-size: 16px;
      text-transform: uppercase;
      width: 200px;
      display: block;
      margin: 25px auto 0;
      background-color: transparent;
      color: #000;
      text-decoration: none;
      text-align: center; }
      .catalog .filters .checked-filters .submit:hover, .catalog .filters .checked-filters .submit:active, .catalog .filters .checked-filters .submit:focus {
        text-decoration: none; }
      .catalog .filters .checked-filters .submit:hover {
        background-color: #a5a5a5; }
    .catalog .filters .head-text {
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 10px;
      padding-left: 9%;
      font-family: AvenirNextRegular;
      cursor: pointer;
      text-align: left; }
    .catalog .filters .show-more {
      font-family: AvenirNextRegular;
      font-size: 16px;
      color: #000000;
      margin-top: 5px;
      display: inline-block;
      padding-left: 9%;
      cursor: pointer;
      text-decoration: underline;
      line-height: 1;
      transition: line-height ease .3s;
      overflow: hidden; }
    .catalog .filters .filter-item {
      font-size: 15px;
      line-height: 21px;
      display: block;
      font-family: AvenirNextRegular;
      color: #000000;
      padding: 0 3%;
      cursor: pointer; }
      .catalog .filters .filter-item .plus {
        padding: 0 5px; }
      .catalog .filters .filter-item .count {
        float: right;
        color: #9b9b9b; }
      .catalog .filters .filter-item:hover {
        color: #616161; }
      .catalog .filters .filter-item.color {
        position: relative; }
        .catalog .filters .filter-item.color .plus {
          padding-right: 30px; }
        .catalog .filters .filter-item.color:before {
          content: '';
          position: absolute;
          left: 32px;
          top: 5px;
          width: 12px;
          height: 12px;
          background-color: #ff2149;
          border-radius: 3px; }
    .catalog .filters > div {
      background-color: #f2f2f2;
      padding: 15px 0;
      margin-bottom: 12px; }
    .catalog .filters .filter-price {
      text-align: center; }
      .catalog .filters .filter-price form {
        padding: 0 7%; }
      .catalog .filters .filter-price .top {
        font-family: AvenirNextRegular;
        font-size: 16px; }
        .catalog .filters .filter-price .top > span {
          position: absolute;
          line-height: 34px;
          margin-left: -7px; }
        .catalog .filters .filter-price .top input[type=text] {
          width: 31%;
          line-height: 34px;
          border: 1px solid #e2e2e2;
          text-align: center;
          margin: 0 2% 0 0;
          padding: 0;
          color: #9b9b9b;
          border-radius: 3px; }
        .catalog .filters .filter-price .top input[type=submit] {
          line-height: 34px;
          font-size: 14px;
          text-transform: uppercase;
          padding: 0;
          width: 25%;
          text-align: center;
          margin-right: 0;
          cursor: pointer;
          border: 1px solid #000;
          border-radius: 3px;
          background-color: transparent; }
      .catalog .filters .filter-price input[type=range] {
        -webkit-appearance: none;
        margin: 30px 0;
        width: 50%; }
      .catalog .filters .filter-price input[type=range]:focus {
        outline: none; }
      .catalog .filters .filter-price input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        animate: 0.2s;
        background: #9b9b9b; }
      .catalog .filters .filter-price input[type=range]:focus::-webkit-slider-runnable-track {
        background: #9b9b9b; }
      .catalog .filters .filter-price input[type=range]::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border-radius: 10px;
        width: 20px;
        height: 20px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -10px; }
      .catalog .filters .filter-price input[type=range]::-moz-range-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: #9b9b9b; }
      .catalog .filters .filter-price input[type=range]::-moz-range-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border-radius: 10px;
        height: 20px;
        width: 20px;
        background: #ffffff;
        cursor: pointer; }
      .catalog .filters .filter-price input[type=range]::-ms-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        border-width: 16px 0;
        color: transparent; }
      .catalog .filters .filter-price input[type=range]::-ms-fill-lower {
        background: #2a6495;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
      .catalog .filters .filter-price input[type=range]::-ms-fill-upper {
        background: #3071a9;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
      .catalog .filters .filter-price input[type=range]::-ms-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 36px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer; }
      .catalog .filters .filter-price input[type=range]:focus::-ms-fill-lower {
        background: #3071a9; }
      .catalog .filters .filter-price input[type=range]:focus::-ms-fill-upper {
        background: #367ebd; }
  .catalog .main-content {
    width: 81.8%;
    margin-bottom: 100px; }
    .catalog .main-content .banners .banner {
      text-decoration: none;
      color: #000000; }
      .catalog .main-content .banners .banner > div {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        box-sizing: border-box;
        height: 272px; }
      .catalog .main-content .banners .banner .img-wrap {
        background: url("../images/catalog-banner.png") no-repeat center;
        background-size: cover; }
      .catalog .main-content .banners .banner .text-container {
        padding: 70px 6% 0 2%; }
        .catalog .main-content .banners .banner .text-container .head-text {
          font-size: 30px;
          font-family: a_AvanteLtDemiBold;
          line-height: 55px; }
        .catalog .main-content .banners .banner .text-container .underhead-text {
          font-family: AvenirNextRegular;
          font-size: 14px;
          margin-bottom: 20px; }
        .catalog .main-content .banners .banner .text-container .text {
          font-family: AvenirNextRegular;
          font-size: 15px;
          line-height: 20px;
          color: #3c3c3c; }
    .catalog .main-content .sort-container:after {
      content: "";
      display: table;
      clear: both; }
    .catalog .main-content .sort-container .sort-container-wrapper {
      float: right;
      margin: 25px 3%; }
    .catalog .main-content .sort-container .sort {
      display: inline-block;
      /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
      margin-right: 80px; }
      .catalog .main-content .sort-container .sort label {
        font-family: AvenirNextRegular;
        font-size: 14px;
        color: #9b9b9b;
        margin-right: 5px; }
      .catalog .main-content .sort-container .sort select {
        font-size: 14px;
        line-height: 24px;
        width: 155px;
        padding-left: 10px;
        font-family: AvenirNextRegular;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #ffffff;
        color: #4a4a4a;
        border: 1px solid #e2e2e2;
        outline: none;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        background-image: url(../images/dropdown-arrow.svg);
        background-repeat: no-repeat;
        background-position: 95% center; }
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        .catalog .main-content .sort-container .sort select {
          padding-right: 18px; } }
    .catalog .main-content .sort-container .limiter {
      display: inline-block; }
      .catalog .main-content .sort-container .limiter span {
        font-size: 14px;
        line-height: 19px;
        font-family: AvenirNextRegular;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0 5px; }
        .catalog .main-content .sort-container .limiter span.active {
          font-family: AvenirNextDemi; }
    .catalog .main-content .goods-container {
      margin-bottom: 60px; }
      .catalog .main-content .goods-container .goods-item {
        position: relative;
        margin-bottom: 37px;
        border: none;
        width: 18.6%; }
        .catalog .main-content .goods-container .goods-item:nth-child(5n) {
          margin-right: 0; }
        .catalog .main-content .goods-container .goods-item .heart {
          position: absolute;
          top: 0;
          right: 0;
          width: 20px;
          height: 18.3px;
          background: url(../images/heart-gray.svg) no-repeat center; }
        .catalog .main-content .goods-container .goods-item.favorite .heart {
          background: url(../images/heart-pink.svg) no-repeat center; }
      .catalog .main-content .goods-container:after {
        display: none; }
    .catalog .main-content .paginator {
      text-align: center; }
      .catalog .main-content .paginator .top {
        margin-bottom: 15px; }
        .catalog .main-content .paginator .top > * {
          font-family: AvenirNextRegular;
          font-size: 16px;
          display: inline-block;
          text-transform: uppercase;
          line-height: 34px;
          border: 1px solid #e2e2e2;
          vertical-align: top;
          padding: 0;
          margin: 0 7px; }
        .catalog .main-content .paginator .top button {
          width: 208px;
          cursor: pointer;
          background-color: #fff; }
        .catalog .main-content .paginator .top a {
          width: 34px;
          height: 34px;
          background-image: url(../images/mobile-designers-arrow.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 20px; }
          .catalog .main-content .paginator .top a.prev {
            transform: rotate(-90deg); }
          .catalog .main-content .paginator .top a.next {
            transform: rotate(90deg); }
          .catalog .main-content .paginator .top a.not-active {
            opacity: .2;
            border-color: #676767; }
      .catalog .main-content .paginator .bottom {
        display: inline-block; }
        .catalog .main-content .paginator .bottom li {
          display: inline-block; }
          .catalog .main-content .paginator .bottom li a {
            font-size: 24px;
            text-align: center;
            padding: 0 8px;
            text-transform: uppercase;
            text-decoration: none;
            color: #000;
            font-family: AvenirNextRegular; }
            .catalog .main-content .paginator .bottom li a:hover, .catalog .main-content .paginator .bottom li a:active, .catalog .main-content .paginator .bottom li a:focus {
              text-decoration: none; }
          .catalog .main-content .paginator .bottom li.active a {
            font-family: AvenirNextMedium; }

/*# sourceMappingURL=main.css.map */
