body {
  font-size: 16px;
  line-height: 1; }

.container-main {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.section-slider .slide {
  height: 442px; }
.section-slider .slide1 {
  background-image: linear-gradient(104deg, #f9eff7, #e4f4f3);
  position: relative; }
  .section-slider .slide1:after {
    content: '';
    height: 100%;
    width: 298px;
    position: absolute;
    right: 21%;
    background: url(../images/slide-bg.png) no-repeat center bottom;
    background-size: contain; }
  .section-slider .slide1 .text-container {
    position: absolute;
    text-align: center;
    height: 83%;
    background-color: #f2f6f7;
    margin-top: 66px;
    width: 33%;
    bottom: 0;
    left: 8%; }
    .section-slider .slide1 .text-container:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 22%;
      background: url(../images/waves.svg) center top;
      background-size: cover; }
    .section-slider .slide1 .text-container .text-wrapper {
      text-align: left;
      display: inline-block;
      padding-top: 17px; }
      .section-slider .slide1 .text-container .text-wrapper > * {
        display: block; }
      .section-slider .slide1 .text-container .text-wrapper .text-head {
        font-family: AvenirNextMedium;
        text-transform: uppercase;
        font-size: 36px; }
      .section-slider .slide1 .text-container .text-wrapper .text-percent {
        font-family: AvenirNextMedium;
        font-size: 114px;
        margin-left: -45px;
        color: #7a92c6; }
      .section-slider .slide1 .text-container .text-wrapper a {
        font-family: AvenirNextRegular;
        margin-top: 10px;
        font-size: 22px;
        text-align: center;
        display: inline-block;
        width: 220px;
        line-height: 47px;
        border: 1px solid black;
        border-radius: 3px;
        color: #000;
        text-transform: uppercase;
        text-decoration: none; }
        .section-slider .slide1 .text-container .text-wrapper a:hover, .section-slider .slide1 .text-container .text-wrapper a:active, .section-slider .slide1 .text-container .text-wrapper a:focus {
          text-decoration: none; }
.section-slider.owl-carousel .owl-controls {
  position: absolute;
  width: 100%; }
  .section-slider.owl-carousel .owl-controls .owl-dots {
    text-align: center;
    padding: 5px 0; }
    .section-slider.owl-carousel .owl-controls .owl-dots .owl-dot {
      display: inline-block;
      margin-right: 10px; }
      .section-slider.owl-carousel .owl-controls .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
        border: 1px solid #9b9b9b;
        display: inline-block;
        border-radius: 10em; }
      .section-slider.owl-carousel .owl-controls .owl-dots .owl-dot.active span {
        background-color: #9b9b9b; }
      .section-slider.owl-carousel .owl-controls .owl-dots .owl-dot:last-child {
        margin-right: 0; }

.section-main {
  font-size: 0;
  padding-top: 65px; }
  .section-main .section-category {
    width: 75%;
    font-size: 0;
    display: inline-block;
    vertical-align: top; }
    .section-main .section-category .section-category-item {
      cursor: pointer;
      box-sizing: border-box;
      padding: 0 .8%;
      display: inline-block;
      width: 33.3%;
      height: 272px;
      margin-bottom: 30px; }
      .section-main .section-category .section-category-item .wrap-bg {
        height: 100%;
        background-position: center;
        background-size: auto 100%;
        position: relative; }
        .section-main .section-category .section-category-item .wrap-bg .text {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          color: #ffffff;
          text-align: center;
          line-height: 55px;
          font-size: 24px;
          font-family: AvenirNextRegular;
          text-transform: uppercase; }
          .section-main .section-category .section-category-item .wrap-bg .text:after {
            content: '';
            position: absolute;
            top: -4px;
            left: 0;
            width: 100%;
            height: 22px;
            background: url("../images/section-main-waves.svg") repeat-x center top; }
      .section-main .section-category .section-category-item:first-child, .section-main .section-category .section-category-item:nth-child(4) {
        margin-left: -.8%; }
      .section-main .section-category .section-category-item.boys .wrap-bg {
        background-image: url(../images/section-main-boys.png); }
      .section-main .section-category .section-category-item.girls .wrap-bg {
        background-image: url(../images/section-main-girls.png); }
      .section-main .section-category .section-category-item.baby .wrap-bg {
        background-image: url(../images/section-main-kids.png); }
      .section-main .section-category .section-category-item.age0-1 .wrap-bg {
        background-image: url(../images/section-main-baby.png); }
      .section-main .section-category .section-category-item.age2-6 .wrap-bg {
        background-image: url(../images/section-main-age2-6.png); }
      .section-main .section-category .section-category-item.age7-16 .wrap-bg {
        background-image: url(../images/section-main-age7-16.png); }
    .section-main .section-category .mobile-category-items {
      display: none;
      padding: 16px 0;
      text-align: center; }
      .section-main .section-category .mobile-category-items div {
        font-size: 24px;
        font-family: a_AvanteLtDemiBold;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 16px; }
      .section-main .section-category .mobile-category-items a {
        display: inline-block;
        width: 30%;
        line-height: 43px;
        border-radius: 3px;
        border: 1px solid #000000;
        font-family: AvenirNextRegular;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: #000000;
        margin-right: 1%;
        text-align: center; }
        .section-main .section-category .mobile-category-items a:hover, .section-main .section-category .mobile-category-items a:active, .section-main .section-category .mobile-category-items a:focus {
          text-decoration: none; }
        .section-main .section-category .mobile-category-items a:last-child {
          margin-right: 0; }
  .section-main .section-delivery-payment-info {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    height: 574px;
    border: 1px solid #f2f2f2;
    vertical-align: top; }
    .section-main .section-delivery-payment-info .delivery-payment-info-container .info-item-container {
      padding-top: 55px; }
      .section-main .section-delivery-payment-info .delivery-payment-info-container .info-item-container .info-item {
        font-size: 0;
        margin-bottom: 70px; }
        .section-main .section-delivery-payment-info .delivery-payment-info-container .info-item-container .info-item .img-wrap {
          display: inline-block;
          width: 28%;
          text-align: center;
          vertical-align: middle; }
          .section-main .section-delivery-payment-info .delivery-payment-info-container .info-item-container .info-item .img-wrap img {
            width: 50px;
            height: auto; }
        .section-main .section-delivery-payment-info .delivery-payment-info-container .info-item-container .info-item .text {
          vertical-align: middle;
          width: 72%;
          display: inline-block;
          font-size: 22px;
          font-family: AvenirNextRegular;
          line-height: 23px; }
        .section-main .section-delivery-payment-info .delivery-payment-info-container .info-item-container .info-item:last-child {
          margin-bottom: 65px; }
    .section-main .section-delivery-payment-info .learn-more {
      background: url(../images/black-wave.svg) repeat-x center top; }
      .section-main .section-delivery-payment-info .learn-more a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
        font-family: AvenirNextRegular;
        text-decoration: none;
        line-height: 64px;
        text-align: center;
        color: #3c3c3c; }
        .section-main .section-delivery-payment-info .learn-more a:hover, .section-main .section-delivery-payment-info .learn-more a:active, .section-main .section-delivery-payment-info .learn-more a:focus {
          text-decoration: none; }

.section-banners {
  font-size: 0; }
  .section-banners .items {
    display: inline-block;
    height: 510px;
    box-sizing: border-box;
    margin-bottom: 35px; }
    .section-banners .items:nth-child(odd) {
      width: 65.8%;
      margin-right: 1.6%; }
    .section-banners .items:nth-child(even) {
      width: 32.5%; }
    .section-banners .items.banner1 {
      background: url(../images/banner-burberry.png) no-repeat center top;
      background-size: cover; }
    .section-banners .items.banner2 {
      background: url(../images/banner-monalisa.png) no-repeat center top;
      background-size: cover; }
    .section-banners .items.banner3 {
      background: url(../images/banner-autumn-winter.png) no-repeat center top;
      background-size: cover; }
  .section-banners .instagram-gallery {
    border: 1px solid #f2f2f2;
    vertical-align: top;
    text-align: center; }
    .section-banners .instagram-gallery .text {
      max-width: 550px;
      display: inline-block; }
    .section-banners .instagram-gallery .head-text {
      font-size: 32px;
      text-align: center;
      font-family: a_AvanteLtDemiBold;
      margin-top: 20px; }
    .section-banners .instagram-gallery .underhead-text {
      font-size: 15px;
      letter-spacing: 1px;
      font-family: AvenirNextRegular;
      text-align: center;
      margin-top: 20px; }
    .section-banners .instagram-gallery span {
      color: #7a92c6; }
    .section-banners .instagram-gallery .photo-container {
      margin-top: 20px; }
      .section-banners .instagram-gallery .photo-container .img-wrap {
        display: inline-block;
        width: 48%;
        margin: 0 1%; }
        .section-banners .instagram-gallery .photo-container .img-wrap img {
          width: 100%;
          height: auto; }
    .section-banners .instagram-gallery .btn-container {
      padding: 25px 3%;
      font-size: 0; }
      .section-banners .instagram-gallery .btn-container a {
        box-sizing: border-box;
        display: inline-block;
        line-height: 34px;
        font-size: 16px;
        font-family: AvenirNextRegular;
        text-align: center;
        border: 1px solid #000000;
        border-radius: 3px;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
        width: 49%; }
        .section-banners .instagram-gallery .btn-container a:hover, .section-banners .instagram-gallery .btn-container a:active, .section-banners .instagram-gallery .btn-container a:focus {
          text-decoration: none; }
        .section-banners .instagram-gallery .btn-container a.desktop:first-child {
          margin-right: 2%; }
        .section-banners .instagram-gallery .btn-container a.mobile {
          display: none; }

.goods-carousel {
  font-size: 0;
  position: relative;
  margin-bottom: 50px; }
  .goods-carousel .goods-item {
    width: 15.3%;
    display: inline-block;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    text-align: center;
    vertical-align: bottom;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
    margin-right: 1.64%; }
    .goods-carousel .goods-item .text {
      font-size: 15px;
      text-transform: uppercase;
      line-height: 20px; }
    .goods-carousel .goods-item .brand-info {
      font-family: AvenirNextRegular;
      font-size: 18px; }
    .goods-carousel .goods-item .item-info {
      color: gray;
      font-family: AvenirNextRegular; }
    .goods-carousel .goods-item .price-info {
      font-family: AvenirNextRegular;
      font-size: 16px; }
    .goods-carousel .goods-item .img-wrapper {
      width: 85%;
      margin: 0 auto; }
      .goods-carousel .goods-item .img-wrapper img {
        width: 100%; }
    .goods-carousel .goods-item:last-child {
      margin-right: 0; }
  .goods-carousel:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: #f5f5f5;
    z-index: -1; }

.news {
  font-size: 0;
  padding-bottom: 100px; }
  .news .news-item {
    display: inline-block;
    box-sizing: border-box;
    width: 23.8%;
    margin-right: 1.6%;
    border: 1px solid #f5f5f5;
    color: #000000;
    text-decoration: none;
    vertical-align: top; }
    .news .news-item .img-wrap img {
      width: 100%; }
    .news .news-item .uptext {
      font-family: AvenirNextRegular;
      text-transform: uppercase;
      font-size: 16px;
      text-align: center;
      line-height: 34px; }
    .news .news-item .text-container {
      padding: 25px 20px;
      background: url(../images/black-wave.svg) repeat-x center 2%;
      position: relative; }
      .news .news-item .text-container:after {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 10px;
        right: 15px;
        width: 18px;
        height: 11.2px;
        background: url(../images/more-news.svg) no-repeat; }
    .news .news-item .head-text {
      text-transform: uppercase;
      font-size: 30px;
      font-family: a_AvanteLtDemiBold;
      margin-bottom: 10px; }
    .news .news-item .main-text {
      font-size: 15px;
      line-height: 20px;
      font-family: AvenirNextRegular;
      color: #3c3c3c; }
    .news .news-item:last-child {
      margin-right: 0; }

.subscribe {
  background: url("../images/black-wave.svg") repeat-x center top;
  position: relative;
  text-align: center; }
  .subscribe:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/black-wave.svg") repeat-x center bottom;
    z-index: -1; }
  .subscribe .subscribe-container {
    display: inline-block;
    width: 1172px;
    padding: 60px 0;
    box-sizing: border-box; }
    .subscribe .subscribe-container:after {
      content: "";
      display: table;
      clear: both; }
    .subscribe .subscribe-container .text-block {
      float: left;
      box-sizing: border-box;
      width: 630px;
      padding-left: 120px;
      text-align: left;
      background: url("../images/subscribe.svg") no-repeat center left; }
      .subscribe .subscribe-container .text-block .head-text {
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
        font-family: AvenirNextRegular; }
      .subscribe .subscribe-container .text-block .main-text {
        font-size: 15px;
        font-family: AvenirNextRegular;
        line-height: 20px; }
    .subscribe .subscribe-container form {
      float: right;
      margin-top: 30px; }
      .subscribe .subscribe-container form input {
        border-radius: 3px;
        width: 196px;
        padding: 0;
        line-height: 34px;
        font-size: 16px;
        font-family: AvenirNextRegular;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid black; }
      .subscribe .subscribe-container form input[type="email"] {
        background-color: #fff;
        border-color: #e2e2e2;
        margin-right: 19px; }
        .subscribe .subscribe-container form input[type="email"]:focus {
          outline: none; }
      .subscribe .subscribe-container form input[type="submit"] {
        background-color: transparent;
        border: 1px solid black; }

.designers {
  padding: 94px 0;
  text-align: center; }
  .designers .top {
    height: 260px;
    position: relative; }
    .designers .top:before, .designers .top:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      top: 76px;
      background-color: #f5f5f5; }
    .designers .top:after {
      top: auto;
      bottom: 0; }
  .designers .bottom-text {
    text-align: left;
    font-size: 15px;
    font-family: AvenirNextRegular;
    line-height: 18px; }
  .designers .designers-wrapper {
    width: 83.3%;
    display: inline-block; }
  .designers .head-text {
    font-size: 30px;
    font-family: a_AvanteLtDemiBold;
    text-align: center;
    line-height: 35px;
    text-transform: uppercase; }
  .designers .tabs-container {
    position: relative;
    margin-top: 5px; }
    .designers .tabs-container .tabs {
      font-size: 0; }
      .designers .tabs-container .tabs .tab {
        display: inline-block;
        width: 18.4%;
        border: 1px solid #f5f5f5;
        border-bottom: none;
        box-sizing: border-box;
        margin-right: 2%; }
        .designers .tabs-container .tabs .tab .tab-content {
          opacity: 0;
          position: absolute;
          width: 100%;
          padding-top: 15px;
          left: 0; }
          .designers .tabs-container .tabs .tab .tab-content ul {
            display: inline-block;
            width: 18.4%;
            margin-right: 2%;
            vertical-align: top; }
            .designers .tabs-container .tabs .tab .tab-content ul li a {
              display: block;
              font-size: 15px;
              text-align: left;
              font-family: AvenirNextRegular;
              color: #3c3c3c;
              line-height: 20px;
              text-decoration: none; }
              .designers .tabs-container .tabs .tab .tab-content ul li a:hover, .designers .tabs-container .tabs .tab .tab-content ul li a:active, .designers .tabs-container .tabs .tab .tab-content ul li a:focus {
                text-decoration: none; }
            .designers .tabs-container .tabs .tab .tab-content ul:last-child {
              margin-right: 0; }
          .designers .tabs-container .tabs .tab .tab-content.tablet {
            display: none; }
        .designers .tabs-container .tabs .tab .head {
          font-size: 18px;
          line-height: 35px;
          cursor: pointer; }
        .designers .tabs-container .tabs .tab.active {
          border-color: #000000; }
          .designers .tabs-container .tabs .tab.active .tab-content {
            opacity: 1; }
        .designers .tabs-container .tabs .tab:last-child {
          margin-right: 0; }

footer {
  height: 215px;
  background: url(../images/black-wave.svg) repeat-x center top;
  font-size: 0;
  padding: 43px 0 15px; }
  footer > div {
    display: inline-block;
    width: calc(100% / 3);
    vertical-align: top;
    position: relative;
    height: 100%; }
  footer .width-wrap {
    width: 260px;
    padding: 0 10px;
    margin: 0 auto;
    min-height: 100px; }
  footer .left .head-text {
    font-family: a_AvanteLtDemiBold;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 10px; }
  footer .left .text {
    font-family: AvenirNextRegular;
    font-size: 14px;
    line-height: 20px; }
  footer .left .tel {
    font-family: a_AvanteBsExtraBold;
    font-size: 28px;
    margin: 15px 0 5px; }
  footer .left .work-time {
    font-size: 15px;
    color: #7a92c6;
    font-family: a_AvanteTitlerCpsUpCLight;
    text-transform: uppercase; }
  footer .center a {
    font-family: AvenirNextRegular;
    font-size: 16px;
    line-height: 2;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: #000; }
  footer .center .bottom .text {
    font-family: a_AvanteLtDemiBold;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 25px; }
  footer .center .bottom .img-wrap {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle; }
    footer .center .bottom .img-wrap img {
      width: 100%; }
    footer .center .bottom .img-wrap.visa {
      width: 50px; }
    footer .center .bottom .img-wrap.mastercard, footer .center .bottom .img-wrap.maestro {
      width: 40px; }
    footer .center .bottom .img-wrap.pci {
      width: 60px;
      margin-right: 0; }
  footer .left:after,
  footer .center:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 70%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #e2e2e2; }
  footer .right .social {
    text-align: center; }
    footer .right .social .text {
      font-family: a_AvanteLtDemiBold;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      line-height: 35px; }
    footer .right .social .img-wrap {
      display: inline-block;
      width: 40px;
      margin-right: 10px; }
      footer .right .social .img-wrap img {
        width: 100%; }
      footer .right .social .img-wrap:last-child {
        margin-right: 0; }
  footer .right .logo .logo-wrap {
    width: 90%;
    margin: 60px auto 15px; }
    footer .right .logo .logo-wrap img {
      width: 100%; }
  footer .right .logo .copyright {
    text-align: center;
    font-family: a_AvanteLtDemiBold;
    font-size: 12px;
    letter-spacing: 0.7px;
    text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
