@import '_variables';

@media only screen and (max-width: 1670px){
  .section-banners{
    .instagram-gallery{
      .btn-container{
        a{
          width: 75%;
          &.desktop:first-child{
            margin-right: 0;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1560px) {
  .section-main{
    .delivery-payment-info{
      .info-item-container{
        margin-left: 3.3%;
      }
      .learn-more{
        width: 13.3%;
        padding-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .section-banners{
    .items{
      height: 480px;
    }
  }
  .news{
    .news-item{
      .uptext{
        font-size: 14px;
      }
      .head-text{
        font-size: 24px;
      }
    }
  }
  .subscribe{
    .subscribe-container{
      width: 940px;
      .text-block{
        width: 670px;
        padding-left: 160px;
      }
      form{
        margin-top: 10px;
        input{
          display: block;
        }
        input[type="email"]{
          margin-right: 0;
          margin-bottom: 7px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .section-slider{
    .slide1{
      .text-container{
        left: 0;
      }
      &:after{
        right: 16%;
      }
    }
  }
  .section-main{
    .section-category{
      width: calc(100% + 1.6%);
      .section-category-item{
        height: 238px;
      }
    }
    .section-delivery-payment-info {
      height: auto;
      display: block;
      width: 100%;
      .delivery-payment-info-container{
        .info-item-container {
          vertical-align: middle;
          padding-top: 0;
          padding-left: 5%;
          box-sizing: border-box;
          width: 91%;
          display: inline-block;
          .info-item{
            margin-bottom: 0;
            display: inline-block;
            width: 25%;
            .text{
              font-size: 14px;
              line-height: 16px;
              text-transform: uppercase;
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
      .learn-more{
        vertical-align: middle;
        background: none;
        background-color: #fafafa;
        height: 66px;
        display: inline-block;
        width: 9%;
        a{
          font-size: 14px;
          line-height: 16px;
          padding-top: 15px;
        }
      }
    }
  }
  .section-banners{
    .items{
      height: 410px;
    }
    .instagram-gallery{
      .head-text{
        margin-top: 15px;
      }
      .underhead-text{
        margin-top: 15px;
      }
      .photo-container{
        margin-top: 20px;
        .img-wrap{
          width: 45%;
        }
      }
      .btn-container{
        padding: 10px 3%;
        a.desktop:first-child{
          margin-bottom: 8px;
        }
      }
    }
  }
  .goods-carousel{
    .goods-item{
      .brand-info{
        font-size: 16px;
      }
      .item-info{
        font-size: 13px;
      }
      .price-info{
        font-size: 14px;
      }
    }
  }
  .designers{
    .tabs-container{
      .tabs{
        .tab{
          .tab-content{
            ul{
              li{
                a{
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .section-slider{
    .slide1{
      .text-container{
        .text-wrapper{
          .text-head{
            font-size: 30px;
          }
          .text-percent{
            font-size: 90px;
            margin-left: -25px;
          }
        }
      }
    }
  }
  .section-main{
    .section-category{
      .section-category-item{
        height: 204px;
      }
    }
    .section-delivery-payment-info{
      .delivery-payment-info-container{
        .info-item-container{
          padding-left: 0;
        }
      }
    }
  }
  .section-banners {
    .items {
      height: 340px;
    }
    .instagram-gallery{
      .head-text{
        font-size: 30px;
        margin-top: 13px;
      }
      .underhead-text{
        margin-top: 13px;
      }
      .photo-container{
        margin-top: 15px;
      }
      .btn-container{
        a{
          width: 48%;
          &.mobile{
            display: inline-block;
          }
          &.desktop{
            display: none;
          }
          &.mobile:nth-child(2){
            margin-right: 2%;
          }
        }
      }
    }
  }
  .goods-carousel{
    .goods-item{
      width: 23.75%;
      .brand-info{
        font-size: 16px;
      }
      .item-info{
        font-size: 13px;
      }
      .price-info{
        font-size: 14px;
      }
      &:nth-child(5),
      &:nth-child(6){
        display: none;
      }
      &:nth-child(4){
        margin-right: 0;
      }
    }
  }
  .news{
    .news-item{
      .head-text{
        font-size: 19px;
      }
      .main-text{
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .subscribe{
    .subscribe-container{
      padding: 40px 25px;
      width: 100%;
      .text-block{
        float: none;
        display:inline-block;
        vertical-align: top;
        padding: 0 30px 0 130px;
        width: 70%;
        .head-text{
          font-size: 20px;
          line-height: 30px;
        }
        .main-text{
          font-size: 14px;
        }
      }
      form{
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-top: 15px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .section-slider{
    .slide{
      height: 270px;
    }
    .slide1{
      .text-container{
        width: 35%;
        .text-wrapper{
          width: 60%;
          padding-top: 20px;
          .text-head{
            font-size: 20px;
          }
          .text-percent{
            font-size: 66px;
            margin-left: -25px;
          }
          a{
            font-size: 16px;
            width: 134px;
            line-height: 34px;
          }
        }
      }
      &:after{
        width: 170px;
      }
    }
  }
  .section-main{
    .section-category{
      width: calc(100% + .8%);
      .section-category-item{
        height: 192px;
        margin-bottom: 12px;
        padding: 0 .4%;
        .wrap-bg{
          .text{
            font-size: 20px;
            letter-spacing: 2px;
          }
        }
        &:first-child,
        &:nth-child(4){
          margin-left: -.4%
        }
      }
    }
    .section-delivery-payment-info{
      .delivery-payment-info-container{
        .info-item-container{
          padding-left: 5%;
          width: 87%;
          .info-item{
            width: 50%;
          }
        }
      }
      .learn-more{
        height: 118px;
        width: 13%;
        a{
          padding-top: 40px;
        }
      }
    }
  }
  .section-banners{
    .instagram-gallery{
      .head-text{
        font-size: 24px;
        margin-top: 10px;
      }
      .underhead-text{
        display: none;
      }
      .btn-container {
        a {
          width: 98%;
          &.mobile:nth-child(2) {
            margin-right: 0;
            margin-bottom: 10px;
          }
        }
      }
    }
    .items{
      height: 280px;
    }
  }
  .goods-carousel{
    .goods-item{
      .img-wrapper{
        width: 95%;
      }
    }
  }
  .news{
    .news-item{
      width: 49.2%;
      margin-bottom: 11px;
      &:nth-child(2){
        margin-right: 0;
      }
      .head-text{
        font-size: 18px;
      }
    }
  }
  .designers{
    .designers-wrapper {
      width: 95%;
    }
    .tabs-container{
      .tabs{
        .tab{
          .tab-content{
            ul{
              width: 23.5%;
              li{
                a{
                  line-height: 30px;
                }
              }
              &:nth-child(5){
                display:none;
              }
              &:nth-child(4){
                margin-right: 0;
              }
            }
            &.tablet{
              display: block;
            }
            &.desktop{
              display: none;
            }
          }
        }
      }
    }
    .top{
      height: 360px;
    }
  }
  footer{
    .width-wrap{
      max-width: 320px;
      width: 100%;
    }
    .left{
      width: 50%;
      padding: 0 4%;
      box-sizing: border-box;
      &:after{
        display: none;
      }
    }
    .center{
      width: 50%;
      padding: 0 4%;
      box-sizing: border-box;
      &:after{
        display: none;
      }
    }
    .right{
      width: 100%;
      display: block;
      text-align: center;
      height: auto;
      padding: 25px 0;
      .width-wrap{
        max-width: none;
        width: 86%;
      }
      .social,
      .logo{
        display: inline-block;
        width: 50%;
        vertical-align: top;
      }
      .social{
        text-align: left;
        .text{
          text-align: left;
        }
      }
      .logo{
        box-sizing: border-box;
        padding-left: 8%;
        .logo-wrap{
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .section-banners{
    .items{
      height: 264px;
      margin-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .subscribe{
    .subscribe-container{
      padding: 0 25px 25px;
      .text-block{
        width: 100%;
        padding: 70px 0 0 0;
        background-position: center 20px;
        background-size: 50px;
        .head-text{
          text-align: center;
        }
      }
      form{
        input[type='email'],
        input[type='submit']{
          display: inline-block;
        }
        input[type='email']{
          margin-bottom: 0;
          margin-right: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 670px) {
  .section-banners{
    .items{
      height: 240px;
    }
    .instagram-gallery{
      .head-text{
        font-size: 21px;
      }
    }
  }
  .goods-carousel{
    .goods-item{
      .brand-info{
        font-size: 12px;
      }
      .item-info{
        font-size: 11px;
      }
      .price-info{
        font-size: 12px;
      }
    }
  }
  .designers{
    .tabs-container{
      .tabs{
        .tab{
          .tab-content{
            ul{
              li{
                a{
                  font-size: 12px;
                  line-height: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .section-banners{
    .items{
      height: 225px;
    }
    .instagram-gallery{
      .head-text{
        font-size: 19px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .section-slider{
    .slide{
      height: 264px;
    }
    .slide1{
      .text-container{
        height: 125px;
        width: 164px;
        .text-wrapper{
          padding-top: 14px;
          margin-left: -30px;
          .text-head{
            font-size: 11px;
          }
          .text-percent{
            font-size: 38px;
            margin-left: -15px;
          }
          a{
            font-size: 11px;
            line-height: 22px;
            width: 106px;
            height: 22px;
            margin-top: 3px;
          }
        }
        &:after{
          height: 15%;
        }
      }
      &:after{
        right: 0;
      }
    }
    &.owl-carousel .owl-controls .owl-dots .owl-dot span {
      width: 8px;
      height: 8px;
    }
  }
  .section-main{
    .section-category{
      display: block;
      width: 100%;
      .section-category-item{
        display: block;
        width: 100%;
        padding: 0;
        height: 140px;
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6){
          display: none;
        }
        .wrap-bg{
          background-size: cover;
          background-position: center top;
        }
        &:first-child{
          margin-left: 0;
        }
      }
      .mobile-category-items{
        display: block;
      }
    }
    .section-delivery-payment-info{
      .delivery-payment-info-container{
        .info-item-container{
          display:block;
          width: 100%;
          padding-left: 0;
          margin-top: 25px;
          .info-item{
            width: 100%;
            display: block;
            margin-bottom: 25px;
            .text{
              text-transform: none;
              font-size: 20px;
              width: 65%;
            }
            .img-wrap{
              width: 35%
            }
            &:last-child{
              margin-bottom: 25px;
            }
          }
        }
        .learn-more{
          display: inline-block;
          width: 100%;
          height: auto;
          a{
            font-size: 16px;
            line-height: 47px;
            padding-top: 0;
          }
        }
      }
    }
  }
  .section-banners{
    .items{
      width: 100% !important;
      height: 330px;
    }
    .instagram-gallery{
      height: auto;
      .text{
        padding: 0 3%;
      }
      .head-text{
        font-size: 24px;
        margin-top: 12px;
      }
      .underhead-text{
        display: inline-block;
      }
      .btn-container{
        a.mobile {
          line-height: 43px;
        }
      }
      .photo-container{
        .img-wrap{
          width: auto;
        }
      }
    }
  }
  .goods-carousel{
    .goods-item{
      width: 48%;
      margin-top: 15px;
      margin-right: 4%;
      &:nth-child(2){
        margin-right: 0;
      }
      &:nth-child(3),
      &:nth-child(4){
        margin-bottom: 15px;
      }
    }
    &:after{
      height: 100%;
    }
  }
  .news{
    .news-item{
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }
  }
  .subscribe{
    .subscribe-container{
      form{
        width: 100%;
        input[type='email'],
        input[type='submit']{
          display: block;
          width: 100%;
        }
        input[type='email']{
          margin-right: 0;
          margin-bottom: 5px;
        }
      }
    }
  }
  .designers{
    padding: 50px 0;
    .head-text{
      font-size: 24px;
    }
    .bottom-text{
      display: none;
    }
    .designers-wrapper{
      width: 100%;
    }
    .tabs-container{
      .tabs{
        .tab{
          width: 100%;
          margin-right: 0;
          border: none;
          .head{
            background-color: $light-grey;
            font-size: 18px;
            line-height: 50px;
            position: relative;
            border-bottom: 1px solid #fff;
            &:after{
              content: '';
              position: absolute;
              right: 5%;
              top: 0;
              bottom: 0;
              margin: auto;
              height: 30px;
              width: 30px;
              background: url(../images/mobile-designers-arrow.png) no-repeat center;
              background-size: 100%;
              transition: transform ease .5s;
            }

          }
          .tab-content{
            position: static;
            height: 0;
            overflow: hidden;
            display: block;
            padding: 0;
            overflow-y: scroll;
            transition: height ease .5s,padding ease .5s;
            ul{
              width: 100%;
              margin-right: 0;
              padding: 0 5%;
              li{
                a{
                  text-align: left;
                  font-size: 20px;
                  line-height: 35px;
                }
              }
              &:nth-child(5){
                display: block;
              }
            }
            &.tablet{
              opacity: 1;
            }
          }
          &.active{
            .head:after{
              transform: rotate(180deg);
            }
            .tab-content{
              height: 320px;
              padding-top: 15px;
            }
          }
        }
      }
    }
    .top{
      &:before, &:after{
        display:none;
        padding-top: 15px;
      }
    }
  }
  footer{
    .left{
      width: 100%;
      height: auto;
      padding-bottom: 15px;
      .width-wrap{
        max-width: none;
      }
    }
    .center{
      width: 100%;
      .width-wrap{
        max-width: none;
      }
    }
    .right{
      .social{
        width: 100%;
        text-align: center;
        .text{
          text-align: center;
        }
      }
    }
  }
}



