@import '_variables';

@media only screen and (max-width: 1560px) {
  header .bottom-header .menu {
    a, .search-wrapper{
      margin: 0 8px
    }
  }
  .section-main{
    .section-main-top{
      .catalog-filter{
        width: 75%;
        .catalog-filter-item{
          margin-bottom: 35px;
          width: 33.3%;
          &.age0-1{
            display: inline-block;
            margin-left: -10px;
          }
          .wrap-bg{
            .text:after{
              background-size: auto 87%;
            }
          }
        }
      }
      .brands-carousel{
        width: 100%;
      }
      .news{
        width: 25%;
        .news-item{
          margin-bottom: 34px !important;
          &:last-child{
            display: block;
          }
        }
      }
    }

  }
}

@media only screen and (max-width: 1500px) {
  header {
    .bottom-header {
      .menu {
        justify-content: space-between;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  header {
    .bottom-header {
      padding: 30px 8% 25px;
      margin-right: -65px;
    }
  }
  .section-slider{
    .slide1{
      .text-container{
        left: 0;
      }
      &:after{
        right: 16%;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .section-slider{
    .slide1{
      .text-container{
        .text-wrapper{
          .text-head{
            font-size: em(30);
          }
          .text-percent{
            font-size: em(90);
            margin-left: -25px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1010px) {
  header {
    .bottom-header {
      padding: 30px 25px 25px;
      margin-right: 0;
    }
    .top-header{
      padding: 40px 25px 35px;
    }
  }
}

@media only screen and (max-width: 960px) {
  header{
    .bottom-header{
      .menu{
        a{
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  header{
    .top-header{
      padding: 24px 8% 18px;
      .tel-wrapper{
        .text{
          font-size: 11px;
        }
        .tel{
          font-size: 17px;
        }
      }
      .logo-wrapper{
        width: 188px;
      }
    }
    .bottom-header{
      padding: 17px 0 20px 20px;
      .menu{
        a{
          font-size: 14px;
        }
      }
    }
  }
  .section-slider{
    .slide{
      height: 270px;
    }
    .slide1{
      .text-container{
        width: 35%;
        .text-wrapper{
          width: 60%;
          padding-top: 20px;
          .text-head{
            font-size: 20px;
          }
          .text-percent{
            font-size: 66px;
            margin-left: -25px;
          }
          a{
            font-size: 16px;
            width: 134px;
            line-height: 34px;
          }
        }
      }
      &:after{
        width: 180px;
      }
    }
  }
  .section-main{
    .section-main-top{
      .catalog-filter{
        width: calc(100% + 4px);
        .catalog-filter-item{
          padding: 0 2px;
          height: 192px;
          margin-bottom: 4px;
          &:first-child{
            margin-left: -2px
          }
          &.age0-1{
            margin-left: -2px
          }
          .wrap-bg{
            .text{
              line-height: 50px;
              font-size: 20px;
            }
          }
        }
      }
      .news{
        float: none;
        width: 100%;
        font-size: 0;
        margin-top: 35px;
        .news-item{
          display: inline-block !important;
          width: 25%;
          height: 144px;
          .img-wrapper{
            float : none;
            width: 33%;
            display: inline-block;
            height: auto;
            img{
              width: 100%;
              height: auto;
            }
          }
          .text{
            font-size: 14px;
            position: static;
            transform: none;
            max-height: none;
            overflow: visible;
            padding: 0 5px;
            .head{
              font-size: 13px;
            }
          }
        }
      }
      .brands-carousel{
        margin-top: 0;
      }
    }
  }
}



