@import '_variables';

@media only screen and (max-width: 1670px){
  .section-banners{
    .instagram-gallery{
      .btn-container{
        a{
          width: 75%;
          &.desktop:first-child{
            margin-right: 0;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1560px) {
  .section-main{
    .delivery-payment-info{
      .info-item-container{
        margin-left: 3.3%;
      }
      .learn-more{
        width: 13.3%;
        padding-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .section-banners{
    .items{
      height: 480px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .section-slider{
    .slide1{
      .text-container{
        left: 0;
      }
      &:after{
        right: 16%;
      }
    }
  }
  .section-main{
    .section-category{
      width: calc(100% + 1.6%);
      .section-category-item{
        height: 238px;
      }
    }
    .section-delivery-payment-info {
      height: auto;
      display: block;
      width: 100%;
      .delivery-payment-info-container{
        .info-item-container {
          vertical-align: middle;
          padding-top: 0;
          padding-left: 5%;
          box-sizing: border-box;
          width: 91%;
          display: inline-block;
          .info-item{
            margin-bottom: 0;
            display: inline-block;
            width: 25%;
            .text{
              font-size: 14px;
              line-height: 16px;
              text-transform: uppercase;
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
      .learn-more{
        vertical-align: middle;
        background: none;
        background-color: #fafafa;
        height: 66px;
        display: inline-block;
        width: 9%;
        a{
          font-size: 14px;
          line-height: 16px;
          padding-top: 15px;
        }
      }
    }
  }
  .section-banners{
    .items{
      height: 410px;
    }
    .instagram-gallery{
      .head-text{
        margin-top: 15px;
      }
      .underhead-text{
        margin-top: 15px;
      }
      .photo-container{
        margin-top: 20px;
        .img-wrap{
          width: 45%;
        }
      }
      .btn-container{
        padding: 10px 3%;
        a.desktop:first-child{
          margin-bottom: 8px;
        }
      }
    }
  }
  .goods-carousel{
    .goods-item{
      .brand-info{
        font-size: 16px;
      }
      .item-info{
        font-size: 13px;
      }
      .price-info{
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .section-slider{
    .slide1{
      .text-container{
        .text-wrapper{
          .text-head{
            font-size: 30px;
          }
          .text-percent{
            font-size: 90px;
            margin-left: -25px;
          }
        }
      }
    }
  }
  .section-main{
    .section-category{
      .section-category-item{
        height: 204px;
      }
    }
    .section-delivery-payment-info{
      .delivery-payment-info-container{
        .info-item-container{
          padding-left: 0;
        }
      }
    }
  }
  .section-banners {
    .items {
      height: 340px;
    }
    .instagram-gallery{
      .head-text{
        font-size: 30px;
        margin-top: 13px;
      }
      .underhead-text{
        margin-top: 13px;
      }
      .photo-container{
        margin-top: 15px;
      }
      .btn-container{
        a{
          width: 48%;
          &.mobile{
            display: inline-block;
          }
          &.desktop{
            display: none;
          }
          &.mobile:nth-child(2){
            margin-right: 2%;
          }
        }
      }
    }
  }
  .goods-carousel{
    .goods-item{
      width: 23.75%;
      .brand-info{
        font-size: 16px;
      }
      .item-info{
        font-size: 13px;
      }
      .price-info{
        font-size: 14px;
      }
      &:nth-child(5),
      &:nth-child(6){
        display: none;
      }
      &:nth-child(4){
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .section-slider{
    .slide{
      height: 270px;
    }
    .slide1{
      .text-container{
        width: 35%;
        .text-wrapper{
          width: 60%;
          padding-top: 20px;
          .text-head{
            font-size: 20px;
          }
          .text-percent{
            font-size: 66px;
            margin-left: -25px;
          }
          a{
            font-size: 16px;
            width: 134px;
            line-height: 34px;
          }
        }
      }
      &:after{
        width: 170px;
      }
    }
  }
  .section-main{
    .section-category{
      width: calc(100% + .8%);
      .section-category-item{
        height: 192px;
        margin-bottom: 12px;
        padding: 0 .4%;
        .wrap-bg{
          .text{
            font-size: 20px;
            letter-spacing: 2px;
          }
        }
        &:first-child,
        &:nth-child(4){
          margin-left: -.4%
        }
      }
    }
    .section-delivery-payment-info{
      .delivery-payment-info-container{
        .info-item-container{
          padding-left: 5%;
          width: 87%;
          .info-item{
            width: 50%;
          }
        }
      }
      .learn-more{
        height: 118px;
        width: 13%;
        a{
          padding-top: 40px;
        }
      }
    }
  }
  .section-banners{
    .instagram-gallery{
      .head-text{
        font-size: 24px;
        margin-top: 10px;
      }
      .underhead-text{
        display: none;
      }
      .btn-container {
        a {
          width: 98%;
          &.mobile:nth-child(2) {
            margin-right: 0;
            margin-bottom: 10px;
          }
        }
      }
    }
    .items{
      height: 280px;
    }
  }
  .goods-carousel{
    .goods-item{
      .img-wrapper{
        width: 95%;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .section-banners{
    .items{
      height: 264px;
      margin-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 670px) {
  .section-banners{
    .items{
      height: 240px;
    }
    .instagram-gallery{
      .head-text{
        font-size: 21px;
      }
    }
  }
  .goods-carousel{
    .goods-item{
      .brand-info{
        font-size: 12px;
      }
      .item-info{
        font-size: 11px;
      }
      .price-info{
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .section-banners{
    .items{
      height: 225px;
    }
    .instagram-gallery{
      .head-text{
        font-size: 19px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .section-slider{
    .slide{
      height: 264px;
    }
    .slide1{
      .text-container{
        height: 125px;
        width: 164px;
        .text-wrapper{
          padding-top: 14px;
          margin-left: -30px;
          .text-head{
            font-size: 11px;
          }
          .text-percent{
            font-size: 38px;
            margin-left: -15px;
          }
          a{
            font-size: 11px;
            line-height: 22px;
            width: 106px;
            height: 22px;
            margin-top: 3px;
          }
        }
        &:after{
          height: 15%;
        }
      }
      &:after{
        right: 0;
      }
    }
    &.owl-carousel .owl-controls .owl-dots .owl-dot span {
      width: 8px;
      height: 8px;
    }
  }
  .section-main{
    .section-category{
      display: block;
      width: 100%;
      .section-category-item{
        display: block;
        width: 100%;
        padding: 0;
        height: 140px;
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6){
          display: none;
        }
        .wrap-bg{
          background-size: cover;
          background-position: center top;
        }
        &:first-child{
          margin-left: 0;
        }
      }
      .mobile-category-items{
        display: block;
      }
    }
    .section-delivery-payment-info{
      .delivery-payment-info-container{
        .info-item-container{
          display:block;
          width: 100%;
          padding-left: 0;
          margin-top: 25px;
          .info-item{
            width: 100%;
            display: block;
            margin-bottom: 25px;
            .text{
              text-transform: none;
              font-size: 20px;
              width: 65%;
            }
            .img-wrap{
              width: 35%
            }
            &:last-child{
              margin-bottom: 25px;
            }
          }
        }
        .learn-more{
          display: inline-block;
          width: 100%;
          height: auto;
          a{
            font-size: 16px;
            line-height: 47px;
            padding-top: 0;
          }
        }
      }
    }
  }
  .section-banners{
    .items{
      width: 100% !important;
      height: 330px;
    }
    .instagram-gallery{
      height: auto;
      .text{
        padding: 0 3%;
      }
      .head-text{
        font-size: 24px;
        margin-top: 12px;
      }
      .underhead-text{
        display: inline-block;
      }
      .btn-container{
        a.mobile {
          line-height: 43px;
        }
      }
      .photo-container{
        .img-wrap{
          width: auto;
        }
      }
    }
  }
  .goods-carousel{
    .goods-item{
      width: 48%;
      margin-top: 15px;
      margin-right: 4%;
      &:nth-child(2){
        margin-right: 0;
      }
      &:nth-child(3),
      &:nth-child(4){
        margin-bottom: 15px;
      }
    }
    &:after{
      height: 100%;
    }
  }
}



